body{
  margin: 0;
  padding: 0;
  background: url(TFDL.jpg) no-repeat;
  background-size: cover;
}
.textbox {
  background-color: white;
  width: 300px;
  border: 25px solid black;
  padding: 30px;
  margin: 30px;
}
